@font-face {
  font-family: ConthraxSB;
  src: url(../fonts/conthrax-sb.ttf);
}

@font-face {
	font-family: Consolas;
	src: url(../fonts/CONSOLA.TTF);
}

:root {
    --lightTextColour: #dcdcdc;
    --darkTextColour: #2B2B2B;
    --lowContrastTextColour: #6c6c6c;
    
    --barColour: #6ADCC2;
    --barColourDark: #24967C;
    /*Green - #6ADCC2, #24967C*/
    /*Blue - #7CC2FC, #5E95C1*/
    
    --contentPanelColour: #434343;
    --contentPanelLighterColour: #545454;
    --contentPanelBorderColour: #232323;
    --contentMainColour: #333333;
    /*default main: #2b2b2b*/
    /*Purple - #BD63C5, #7C4282*/
    /*Green - #6ADCC2, #24967C*/
    /*Blue - #7CC2FC, #5E95C1*/
    /*Dark - #3D3D3D, #131313*/
    /*Dark Lighter - #434343, #232323*/
    /*Logo Light Darker - #8E8E8E, #555555*/
    /*Logo Light - #C0C0C0, #555555*/
    
    --accentColour: #7CC2FC;
    --altAccentColour: #6ADCC2;
    /*Purple - #BD63C5, #7C4282*/
    /*Green - #6ADCC2, #24967C*/
    /*Blue - #7CC2FC, #5E95C1*/
    /*Dark - #1D1D1D, #131313*/
    
    --commentColour: #57a64a;
    --macroColour: #BD63C5;
    
    --imageBorderColour: #BD63C5;
    --imageDarkBorderColour: #7C4282;
    
    --titleColour: var(--accentColour);
    
    --mainFont: Bahnschrift;
    --mainFontSize: 2vh;
    
    --altFont: ConthraxSB;
    --altFontSize: 2vh;
}

a:focus, a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body, html {
	margin:0;
	padding:0;
}

html {
    perspective: 300px;
	overflow-x: hidden;
    overflow-y: auto;
	
	position: absolute;
	width:100vw;
	
	scroll-behavior: smooth;
}

body {
    background-image: url(../images/background_tiled_render_13.png);
    background-attachment: fixed;
    background-position: center; 
	background-repeat: repeat;
	background-size: 70vw;
	
	position: absolute;
	width: 100vw;
}

* {
    box-sizing: unset;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* stop bootstrap fucking everything up */
pre {
    color: var(--lightTextColour);
    display: block;
    padding: 9.5px;
    font-size: inherit;
    line-height: 1.42857143;
    word-break: inherit;
    word-wrap: inherit;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    text-align: left;
    
    margin-bottom:0;
    
    box-shadow: inset 0 0 20px #121212;
}

#header {
	align: center;
	
	width: 100vw;
	
	padding-bottom:20px;
	
    transform: translateZ(0);
    z-index: 1;
}

.serif {
    font-family:Consolas;
}

#nav_outer {
	width:100vw;
	
	background-color: var(--barColour);
	
	border-width:0;
	border-style: solid;
	border-bottom-width:8px;
	border-color: var(--barColourDark);
	
	box-shadow: 0px 5px 30px 5px #101010;
}

#nav_inner {
	margin:auto;
	
    display: flex;
	align-items: center;
	justify-content: center;
}

#nav_main {
    padding:5px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	
	padding-top:2vh;
	padding-bottom:2vh;
	
	animation: 0.8s ease-out 0s 1 slide_in_right;
}

.nav_button {
	font-size: 2.5vh;
	text-align: center;
	text-decoration: none;
	
	padding: 1vw;
	
	margin-left: 7px;
	margin-right: 7px;
	border-style:solid;
	border-width:0;
	border-color: var(--barColourDark);
	
	transition-duration: 0.1s;
	transition-property: background-color, border-bottom-width, border-top-width, transform;
	
	border-radius:20px;
}

.nav_button:hover {
	background-color: var(--barColourDark);
}

#background {
    position: absolute;
    top:0;
    left:0;
    
    display: block;
    
    width: 100vw;
    height: 100vh;
    
	/*transform-style: preserve-3d;
	
    transform: translateZ(-300px) scale(1.5);*/
    z-index: -1;
    
    background-image: url(../images/background_tiled_darker.png);
    background-attachment: fixed;
    background-position: center; 
	background-repeat: repeat;
	background-size: 10vw;
}

#content {
	width:100vw;

	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	text-align: center;
	
    transform: translateZ(0);
    z-index: 1;
}

#content_body {
	font-size:5vw;
	
	width: 100vw;
	margin:0;
	
	padding-bottom:15px;
	
	background: var(--contentPanelColour);
	
	border-bottom-style:solid;
	border-bottom-color:var(--contentPanelBorderColour);
	border-bottom-width:5px;
	
	box-shadow: 0px 5px 30px 5px #101010;
}

.content_title {
    visibility: hidden;
	font-family: ConthraxSB;
	font-size: 3.5vh;
	padding: 3vw;
	padding-bottom:0;
	color: var(--titleColour);
	text-align:left;
}

.content_sub_title {
    visibility: hidden;
	font-family: ConthraxSB;
	font-size: 2.5vh;
	padding: 3vw;
	padding-bottom:0;
	color: var(--titleColour);
	text-align:left;
}

.post_title_div {
	margin: 0;
	margin-bottom:15px;
	text-align:left;
	line-height:0.8;
}

.content_main {
	margin:auto;
	margin-top:10px;
	
	line-height: 2.7vh;
	color: var(--lightTextColour);
	    
	margin:3vw;
	padding:3vw;
	background: var(--contentMainColour);
	border-radius: 26px;
	
	visibility:hidden;
	
	box-shadow: inset 0 0 20px #121212; 
	
	text-align:left;
}

.content_image {
    max-width: 93vw;
    
	margin-top:10px;
    margin-bottom:10px;
    margin:auto;
    
    border-radius: 26px;
	
    overflow: hidden;
    
    object-fit: cover;
    
    display: inline-block;
    box-shadow: 0px 5px 13px 5px #2a2a2a;
    
    /*border-style:solid;
    border-width:7px;
	border-bottom-width:10px;
	border-color: var(--accentColour);*/
}

.content_carousel
{
    visibility: hidden;
    
    margin: auto;
	margin-top:20px;
	
	border-radius: 26px;
	
	overflow: hidden;
	
	display:inline-block;
	
	box-shadow: 0px 5px 13px 5px #2a2a2a;
}

.carousel_content
{
    object-fit: cover;
    overflow: hidden;
    max-width: 93vw;
    min-height:275px;
    display:block;
}

.carousel-caption
{
    margin-bottom: 30px;
}

.experience_details {
    display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	text-align: center;
}

.experience_image {
    max-width:150px;
    max-height:150px;
    
    border-radius: 15px;
}

.experience_date {
    font-size: 15px;
}

.experience_description {
    padding-top:15px;
    display: flex;
    align-items: center;
}


.post_card {
    display: grid;
    grid-template-columns: 1fr; 
	
	visibility: hidden;
}

.post_card_image {
    object-fit: cover;
    
    border-radius: 26px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    background-image: url(/res/images/misc/logo.png);
    background-size:107%;
    background-position:center;
    
    width: 95vw;
    height: 10vh;
    
    margin:auto;
    margin-top:8px;
}

.post_card_text_meta {
    bottom:0px;
}

.post_card_text_outer {
    display:grid;
    grid-template-columns: 1fr 12fr; 
    
    padding:8px;
    
	background: var(--contentMainColour);
	
	border-radius: 26px;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    
	box-shadow: inset 0 0 20px #121212; 
	
	margin-bottom:8px;
}

.post_card_text {
    display:inline;
}

#profile_container {
    display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	text-align: center;
	
	margin:auto;
	margin-top: 10px;
}

.square_image_container {
	height: 25vh;
	
	margin-bottom:20px;
}

@keyframes slide_in_left {
  0% {
      transform: translate(-25vw);
  }
  1000% {
      transform: translate(0);
  }
}

@keyframes slide_in_right {
  0% {
      transform: translate(50vw);
  }
  1000% {
      transform: translate(0);
  }
}

#logo_image_container {
    background-color: var(--barColour);
	min-width:15vh;
    min-height:15vh;
	
	display: flex;
    justify-content: center;
    align-items: center;
    
    animation: 0.8s ease-out 0s 1 slide_in_left;
}

.logo_image {
	width:12vh;
	height:12vh;
	object-fit: cover;
	text-align:center;
	
	border-radius: 25%;
}

.circular_image {
	object-fit: cover;
	border-style:solid;
	border-color: var(--accentColour);
	border-width:7px;
	border-radius:50%;
	text-align:center;
}

.contact_grid {
    display: grid;
	grid-template-columns: 0.4fr 0.6fr;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom:20px;
}

.contact_image {
    width:250px;
	height:250px;
	border-width:8px;
	margin:auto;
}

.contact_text {
    margin:auto;
}

.big_detail {
	font-family: var(--altFont);
	font-size: 2.5vh;
}

.medium_detail {
	font-family: var(--altFont);
	font-size: 2.2vh;
}

.small_detail {
	font-family: var(--altFont);
	font-size: 1.8vh;
}

#footer {
	text-align: center;
	
	padding-top:30px;
	padding-bottom:30px;
	
    transform: translateZ(0);
    z-index: 1;
}

#footer_container {
    display: flex;
    
	width:100%;
  
	background-color: var(--barColour);
	
	border-style: solid;
	border-width:0px;
	border-bottom-width:8px;
	border-color: var(--barColourDark);
	
	max-height: 30px;
	
	box-shadow: 0px 5px 30px 5px #101010;
}

#social_media_container {
	margin:auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	max-height: 30px;
	
	font-family: ConthraxSB;
}

.social_media_button_container
{
    background-color: var(--barColour);
    
	min-width:1.5vw;
	min-height:1.5vw;
	
	margin-left:1vw;
	margin-right:1vw;
	
	margin-top: 5px;
	
	border-width: 0;
	border-style: solid;
	border-bottom-width: 7px;
	border-color: var(--barColourDark);
	border-radius: 25%;
	
	display: flex;
    justify-content: center;
    align-items: center;
}

.post_card_text_icon {
    display:inline;
    color: var(--accentColour);
    font-size: 4vh;
    padding:5px;
    padding-top:10px;
    padding-right:10px;
    
    vertical-align: middle;
    text-align:center;
}

.nav_fa {
    font-size:9.5vw;
    padding: 1.5vw;
    width: 14vw;
    height: 13vw;
    line-height:11vw;
    text-align: center;
    text-decoration: none;
    margin: auto;
    border-radius: 25%;
    
    transition-duration:0.15s;
    transition-property:background,color,border-bottom-width;
    /*background: #2b2b2b;*/
    background: var(--barColour);
    color: #2B2B2B;
}

.fa:hover, .fa:active{
	color:#ffffff;
}

.fa-twitter:hover, .fa-twitter:active {
	background:#2e99ea;
}

.fa-linkedin:hover, .fa-linkedin:active {
	background:#0077b5;
}

.fa-youtube:hover, .fa-youtube:active {
	background:#ff0000;
}

.fa-arrow-circle-down:hover, .fa-arrow-circle-down:active {
	background:#007ee5;
	border-bottom-width:4px;
	border-bottom-color:#1e1e1e;
}

.fa-envelope:hover, .fa-envelope:active {
	background:#DD4B39;
}

.fa-github:hover, .fa-github:active {
	background: #ffffff;
	color: #211f1f;
}

.fa-file-text:hover, .fa-github:active {
    background: #2b2b2b;
}

.fa-phone:hover, .fa-phone:active {
  background: #5891AA;
}

.fa-hand-paper-o, .fa-hand-paper-o:hover, .fa-blind, .fa-blind:hover, .fa-question-circle, .fa-question-circle::hover{
    font-size:20vw;
    width:20vw;
    height:20vw;
    background-color:#1e1e1e;
    color:#d0d0d0;
    border-width:0;
}

.light_text {
    font-family: var(--mainFont);
    font-size: var(--mainFontSize);
	color:#dcdcdc;
}

.light_title_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color:#dcdcdc;
}

.dark_text {
    font-family: var(--altFont);
	color:#2B2B2B;
	font-stretch: condensed;
}

.low_contrast_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--lowContrastTextColour);
}

.accent_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--accentColour);
}

.alt_accent_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--altAccentColour);
}

.py_text {
	font-family: var(--altFont);
	font-size: var(--altFontSize);
	color:#FFE873;
}

.cpp_text {
	font-family: var(--altFont);
	font-size: var(--altFontSize);
	color:#7CC2FC;
}

.comment_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--commentColour);
}

.macro_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--macroColour);
}

.cls_text {
    font-family: var(--altFont);
	font-size: var(--altFontSize);
	color:#4ec9b0;
}

.js_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color:#E67E22;
}

.yt_text,
.yt_text:focus, .yt_text:hover {
    text-decoration: none;
    font-family: var(--altFont);
	color:#ff3a3a;
	font-size: var(--altFontSize);
}

.nav_colour_text,
.nav_colour_text:focus, .nav_colour_text:hover {
    text-decoration: none;
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--barColour);
}

.VS-cls {
	font-family:Consolas;
	color:#4ec9b0;
}

.VS-num {
	font-family:Consolas;
	color:#b5cea8;
	text-decoration:none;
}

.VS-pln {
	font-family:Consolas;
	color:#dcdcdc;
}
.VS-mcr {
	font-family:Consolas;
	color:#bd63c5;
}

.VS-cmt {
	font-family:Consolas;
	color:#57a64a;
}

.VS-str {
	font-family:Consolas;
	color:#D69D85;
}

.VS-var {
	font-family:Consolas;
	color:#569CD6;
}

.VS-loc {
	font-family:Consolas;
	color:#9CDAF9;
}

.VS-fnc {
	font-family:Consolas;
	color:#DCDCAA;
}

.VS-prm {
	font-family:Consolas;
	color:#7f7f7f;
}

.VS-kwd {
	font-family:Consolas;
	color:#D8A0DF;
}


@keyframes code_hover_animation {
  0% {
    box-shadow: inset 0 0 20px #121212; 
  }
  30% {
    box-shadow: inset 0 0 30px #121212; 
  }
  100% {
    box-shadow: inset 0 0 20px #121212; 
  }
}

.code {
    border-radius:15px;
    font-size:1.7vh;
    background-color:#262626;
    overflow-x:auto;
    margin-top:10px;
}

.code:hover {
	animation: 0.3s ease-in-out 0s 1 code_hover_animation;
}

.thinking_image
{
    max-width:1100px;
    width:100vw;
    height: 400px;
}

#portfolio_tiles {
}

.portfolio_tile {
    display: grid;
    grid-template-columns: 1fr;
	
	margin-bottom:0px;
	
	padding:6px;
	
	text-align:left;
}

input[type="checkbox"] {
    cursor: pointer;
}

label {
    display: inline;
    user-select: none;
}

label:hover {
    cursor: pointer;    
}

.portfolio_tile_image {
	object-fit: cover;
	width:100%;
	max-height:200px;
	border-radius:10px;
}

.portfolio_tile_text {
}

.portfolio_tile_description {
    padding-top:10px;
    padding-right:5px;
}

a.portfolio_tile {
    text-decoration:none!important;
    display:inline-block;
    border-top-color:#2B2B2B;
    width:95%;
    height:100%;
}

.portfolio_button {
    width:100%;
}

a.portfolio_tile:hover {
    border-bottom-color:#242424;
    background-color:#1c1c1c;
}

.portfolio_tile_outer {
    margin-top:10px;
    margin-bottom:10px;
}

#main_post_container {
	text-align:left;
	margin:10px;
}

.map_outer {
	border-radius: 20px;
	overflow: hidden;
}

#show_more_button {
	padding:15px;
	
	border-radius:26px;
	border-style: solid;
	border-width:0px;
	border-color:var(--contentPanelBorderColour);
	border-bottom-width: 7px;
	
	background:var(--contentPanelLighterColour);
	
	transition-duration:0.2s;
	transition-property:border-top-width,border-bottom-width,background,color;
}

#show_more_button:hover {
	background:#383838;
	color:#dcdcdc;
	cursor:pointer;
}

button:focus {
	outline:none;
}

.portfolio_page_video {
    width:93vw;
    min-height:50vw;
    display:block;
}

 .google-maps {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.blurry_text {
    filter:blur(10px);
    transition-duration:0.2s;
    transition-property:filter;
}

.blurry_text:hover {
    filter:blur(0px);
}

@keyframes content_appear_animation_left {
  0% {
      transform:scale(0) rotate(350deg);
      opacity:0;
  }
  65% {
      transform:scale(1.05) rotate(361deg);
      opacity:0.9;
  }
  100% {
      transform:scale(1) rotate(360deg);
      opacity:1;
  }
}

@keyframes content_appear_animation_left_alt {
  0% {
      transform:translate(0, 100px);
      opacity:0;
  }
  100% {
      transform:translate(0);
      opacity:1;
  }
}

@keyframes content_appear_animation_right {
  0% {
      transform:scale(0) rotate(370deg);
      opacity:0;
  }
  65% {
      transform:scale(1.05) rotate(359deg);
      opacity:0.9;
  }
  100% {
      transform:scale(1) rotate(360deg);
      opacity:1;
  }
}

@keyframes content_appear_animation_right_alt {
  0% {
      transform:translate(0, 100px);
      opacity:0;
  }
  100% {
      transform:translate(0);
      opacity:1;
  }
}

.animateme_left {  
    visibility:visible;
    animation: 0.6s ease-in-out 0s 1 content_appear_animation_left_alt;
}

.animateme_right {  
    visibility:visible;
    animation: 0.6s ease-in-out 0s 1 content_appear_animation_right_alt;
}

.devlog_image_left {
    overflow:hidden;
    border-radius:10px;
    margin-right:15px;
    float:left;
    width:300px;
    height:300px;
}

.devlog_image_right {
    overflow:hidden;
    border-radius:10px;
    margin-left:15px;
    float:right;
    width:300px;
    height:300px;
}

.language_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
}

.experience_grid {
    display: grid;
    grid-template-columns: 1fr;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color:#2b2b2b;
}

.code::-webkit-scrollbar-track {
  background-color:#2b2b2b00;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #6c6c6c; 
  border-radius: 5px;
  box-shadow: inset 0 0 5px #030303; 
  transition-duration:0.2s;
  transition-property:background-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555555; 
}

.filter_grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}

.filter_list {
    padding: 10px;
    
    margin-right: 20px;
    
    border-radius: 20px;
    
    background-color:#262626;
    overflow:hidden;
    
    box-shadow: inset 0 0 20px #121212; 
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
