/* ConthraxSB */

@font-face
{
  font-family: "Sansus Webissimo";
  src: url("../fonts/SansusWebissimo.ttf");
}

@font-face
{
	font-family: "Monaco";
	src: url("../fonts/Monaco.ttf");
}

:root {
    --lightTextColour: #777777;
    --darkTextColour: #2B2B2B;
    --lowContrastTextColour: #6c6c6c;
    
    --barColour: #6ADCC2;
    --barColourDark: #24967C;
    
    --contentPanelColour: #DBDCDC;
    --contentPanelLighterColour: #545454;
    --contentPanelBorderColour: #232323;
    --contentMainColour: #E3E4E6;

    --accentColour: #00BFFF;
    --accentColorHover: #009DDB;
    --accentColorActive: #007bab;
    --altAccentColour: #E67E22;
    
    --commentColour: #57a64a;
    --macroColour: #BD63C5;
    
    --imageBorderColour: #BD63C5;
    --imageDarkBorderColour: #7C4282;
    
    --titleColour: var(--accentColour);

    /* --mainFont: Bahnschrift; */
    --mainFont: Sansus Webissimo;
    --mainFontSize: 24px;
    
    --altFont: Monaco;
    --altFontSize: 19px;
}

*
{
	/* display: block; */
	position: relative;
	font-family: Sansus Webissimo;
	font-weight: normal;
	font-style: normal;
	color: var(--darkTextColour);
	transform-origin: 50% 50%; 
    box-sizing: unset;
    text-decoration: none;
}

html
{
    perspective: 300px;
	overflow-x: hidden;
    overflow-y: auto;
    
	margin:0;
	padding:0;
	position: absolute;
	width:100vw;
	scroll-behavior: smooth;
}

body
{
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;

    background-image: url("../img/background.svg");
    /* background-attachment: fixed;
    background-position: center; 
	background-repeat: repeat; */
    background-size: cover;
	/* background-size: 32vw; */
}

.btn-link
{
    display: inline;

    line-height: 30px;
    font-size: var(--mainFontSize);
    color: var(--darkTextColour);
    text-align: center;

    transition: transform 0.3s;

    text-decoration: none;
}

/* a:focus, */
.btn-link:hover
{
    transform: scale(1.30);
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

p
{
    margin: 0px;
}

/* body {
    background-image: url(../images/background_tiled_render_13.png);
    background-attachment: fixed;
    background-position: center; 
	background-repeat: repeat;
	background-size: 32vw;
} */

img
{
    max-width: 100%;
    max-height: 100%;
}

/* stop bootstrap fucking everything up */
pre
{
    color: var(--lightTextColour);
    display: block;
    padding: 9.5px;
    font-size: inherit;
    line-height: 1.42857143;
    word-break: inherit;
    word-wrap: inherit;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    text-align: left;
    margin:0;
    
    box-shadow: inset 0 0 20px #121212; 
}

body > div#head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    left: 50%;
    width: 90%;
    height: 50px;
    transform: translate(-50%, 0%);

    margin-top: 50px;
    margin-bottom: 100px;

    padding: 10px;

    background-color: var(--contentMainColour);
    
    border: 2px solid var(--contentPanelColour);
    border-radius: 55px;
}

body > div#content
{
	width: 100vw;

	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	text-align: center;
	
    transform: translateZ(0);
    z-index: 1;
}

body > div#foot
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    left: 50%;
    width: 300px;
    height: 50px;
    transform: translate(-50%, 0%);

    margin-top: 100px;
    margin-bottom: 50px;

    padding: 10px;

    background-color: var(--contentMainColour);
    
    border: 2px solid var(--contentPanelColour);
    border-radius: 55px;
}

.btn-main
{
    display: inline-block;

    width: auto;
    min-width: 200px;
    height: 50px;
    line-height: 50px;

    border: none;
    border-radius: 55px;

    background-color: var(--accentColour);

    font-size: var(--mainFontSize);
    color: white;
    text-align: center;
    text-decoration: none;

    transition: background-color 0.3s;
}

.btn-main:hover
{
    background-color: var(--accentColorHover);

    color: white;

    text-decoration: none;
}

div#head > div
{
    display: block;

    width: 25%;
    height: 100%;
}

div#head > div#nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    width: 30%;
    text-align: center;
}

div#head > div#right
{
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
}

div#head img#logo
{
    width: auto;
    height: 100%;
}

div#content > div
{
	min-width: 1000px;
	padding-bottom: 30px;
	
	margin-bottom: 20px;
	
	background-color: var(--contentMainColour);
	
	border: 2px solid var(--contentPanelColour);
	border-radius: 50px;
	/* border-bottom-width:8px; */

	/* box-shadow: 0px 5px 30px 5px #101010; */
}

div#content div#title
{
    visibility: visible;

	padding: 20px;
	padding-bottom: 0px;
	margin-left: 20px;
    
	color: var(--darkTextColour);
	font-size: 40px;
	font-family: var(--mainFont);
	text-align :left;
}

div#content div#info
{
	max-width: 900px;
	margin: auto;
	margin-top: 20px;
	
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;

    border: 2px solid var(--accentColour);
	border-radius: 26px;
	
	visibility: visible;
	
	/* box-shadow: inset 0 0 20px #121212;  */

	text-align: left;
}

div#content div#carousel
{
    visibility: visible;
    
    max-width: 940px;
    max-height: 550px;
    
    margin: auto;
	margin-top:20px;
	
	border-radius: 26px;
	
	overflow: hidden;
	
	display: inline-block;
	
	/* box-shadow: 0px 5px 13px 5px #2a2a2a; */
}

div#carousel div#item > img
{
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    display: block;
}

.carousel-caption
{
    margin-bottom: 30px;
}

.experience_image {
    max-width:150px;
    max-height:150px;
    
    border-radius: 15px;
}

.experience_date {
    font-size: 15px;
}

.experience_description {
    display: flex;
    align-items: center;
}

div#info > span
{
    color: var(--lightTextColour);
    font-size: var(--mainFontSize);
}

div#foot > a
{
    width: auto;
    height: 100%;
}

div#foot img
{
    width: auto;
    height: 100%;
}

.code
{
    font-family: var(--altFont);
    font-size: var(--altFontSize);
    font-weight: 600;
}

.comm
{
    color: var(--commentColour);
}

.lang
{
    color: var(--accentColorHover);
}

.lib
{
    color: var(--altAccentColour);
}

.content_sub_title {
    visibility: hidden;
	font-family: Sansus Webissimo;
	font-size: 30px;
	padding: 20px;
	margin-left: 20px;
	padding-bottom:0px;
	color: var(--titleColour);
	text-align:left;
}

.post_title_div {
    max-width: 980px;
	font-size: 30px;
	margin: 0;
	padding-bottom:0px;
	color: var(--macroColour);
	text-align:left;
	line-height:0.8;
}

@media screen and (max-width: 650px) {
	#content_title {
		font-size: 50px;
	}
	
	#content {
		font-size: 20px;
	}
}

.content_image {
    max-width:950px;
    
    min-width: 500px;
    min-height: 300px;
    
    margin-left:35px;
	margin-right:35px;
	margin-top:20px;
    
    border-radius: 26px;
	
    overflow: hidden;
    
    object-fit: cover;
    
    display: block;
    box-shadow: 0px 5px 13px 5px #2a2a2a;
    
    /*border-style:solid;
    border-width:7px;
	border-bottom-width:10px;
	border-color: var(--accentColour);*/
}

.post_cover_image {
    max-height: 400px;
    width:94%;
}

.post_card {
    display: grid;
    grid-template-columns: 1fr 7fr; 
    
	padding:5px;
	
	visibility: hidden;
}

.post_card_image {
    object-fit: cover;
    
    border-radius: 26px;
    
    background-image: url(/res/images/misc/logo.png);
    background-size:auto 107%;
    background-position:center;
    
    box-shadow: 0px 5px 8px 5px #2a2a2a;
    
    max-height: 115px;
}

.post_card_text_meta {
    bottom:0px;
}

.post_card_text_outer {
    margin-left: 10px;
    display:grid;
    grid-template-columns: 1fr 10fr; 
    
    padding:10px;
    padding-right: 15px;
    padding-left: 5px;
    
	background: var(--contentMainColour);
	
	border-radius: 26px;
	
	box-shadow: inset 0 0 20px #121212; 
}

.post_card_text {
    display:inline;
}

@media screen and (max-width: 1000px) {
	.content_main {
	    width:85%;
	}
}


#profile_container {
	display: flex;
	align-items: center;
	width:650px;
	height:200px;
	margin:auto;
	margin-top: 20px;
	padding:10px;
}

.square_image_container {
	margin-left:25px;
	margin-right:25px;
}

@keyframes slide_in_left {
  0% {
      transform: translate(-25vw);
  }
  1000% {
      transform: translate(0);
  }
}

@keyframes slide_in_right {
  0% {
      transform: translate(50vw);
  }
  1000% {
      transform: translate(0);
  }
}

#logo_image_container {
    background-color: var(--barColour);
	width:120px;
	height:120px;
	
	border-width: 0;
	border-style: solid;
	border-bottom-width: 7px;
	border-color: var(--barColourDark);
	border-radius: 25%;
	
	display: flex;
    justify-content: center;
    align-items: center;
    
    animation: 0.8s ease-out 0s 1 slide_in_left;
}

.logo_image {
	width:105px;
	height:105px;
	object-fit: cover;
	text-align:center;
	
	border-radius: 25%;
}

.circular_image {
	min-width:200px;
	height:200px;
	object-fit: cover;
	border-style:solid;
	border-color: var(--accentColour);
	border-width:7px;
	border-radius:50%;
	text-align:center;
}

.contact_grid {
    display: grid;
	grid-template-columns: 0.4fr 0.6fr;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom:20px;
}

.contact_image {
    width:250px;
	height:250px;
	border-width:8px;
	margin:auto;
}

.contact_text {
    margin:auto;
}

@media screen and (max-width: 650px) {
	#profile_container {
		width:450px;
		height:180px;
	}
	
	.square_image_container {
		width:140px;
		height:140px;
	}
	
	#big_detail {
		font-size: 25px;
	}
	
	#medium_detail {
		font-size: 20px;
	}
	
	#small_detail {
		font-size: 15px;
	}
	
}

.social_media_button_container
{
    background-color: var(--barColour);
    
	min-width:100px;
	min-height:90px;
	
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	
	border-width: 0;
	border-style: solid;
	border-bottom-width: 7px;
	border-color: var(--barColourDark);
	border-radius: 25%;
	
	display: flex;
    justify-content: center;
    align-items: center;
}

.nav_fa {
  padding: 20px;
  font-size: 40px;
  width: 45px;
  height:45px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  
  border-radius: 25%;
  
  transition-duration:0.15s;
  transition-property:background,color,border-bottom-width;
  /*background: #2b2b2b;*/
  background: var(--barColour);
  color: #2B2B2B;
}

.post_card_text_icon {
    display:inline;
    color: var(--accentColour);
    font-size: 35px;
    padding:10px;
    
    vertical-align: middle;
    text-align:center;
}

.nav_fa:hover, .nav_fa:active{
	color:#ffffff;
}

.fa-twitter:hover, .fa-twitter:active {
	background:#2e99ea;
}

.fa-linkedin:hover, .fa-linkedin:active {
	background:#0077b5;
}

.fa-youtube:hover, .fa-youtube:active {
	background:#ff0000;
}

.fa-arrow-circle-down:hover, .fa-arrow-circle-down:active {
	background:#007ee5;
	border-bottom-width:4px;
	border-bottom-color:#1e1e1e;
}

.fa-envelope:hover, .fa-envelope:active {
	background:#DD4B39;
}

.fa-github:hover, .fa-github:active {
	background: #ffffff;
	color: #211f1f;
}

.fa-file-text:hover, .fa-github:active {
    background: #2b2b2b;
}

.fa-phone:hover, .fa-phone:active {
  background: #5891AA;
}

.fa-hand-paper-o, .fa-hand-paper-o:hover, .fa-blind, .fa-blind:hover, .fa-question-circle, .fa-question-circle::hover{
    font-size:20vw;
    width:20vw;
    height:20vw;
    background-color:#1e1e1e;
    color:#d0d0d0;
    border-width:0;
}

.light_text {
    font-family: var(--mainFont);
    font-size: var(--mainFontSize);
	color:#dcdcdc;
}

.light_title_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color:#dcdcdc;
}

.dark_text {
    font-family: var(--altFont);
	color:#2B2B2B;
	font-stretch: condensed;
}

.low_contrast_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--lowContrastTextColour);
}

.accent_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--accentColour);
}

.alt_accent_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--altAccentColour);
}

.py_text {
	font-family: var(--altFont);
	font-size: var(--altFontSize);
	color:#FFE873;
}

.cpp_text {
	font-family: var(--altFont);
	font-size: var(--altFontSize);
	color:#7CC2FC;
}

.comment_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--commentColour);
}

.macro_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--macroColour);
}

.cls_text {
    font-family: var(--altFont);
	font-size: var(--altFontSize);
	color:#4ec9b0;
}

.js_text {
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color:#E67E22;
}

.yt_text{
    text-decoration: none;
    font-family: var(--altFont);
	color:#ff3a3a;
	font-size: var(--altFontSize);
}

.yt_text:focus, .yt_text:hover {
    text-decoration: none;
	color:#ff3a3a;
}

.nav_colour_text,
.nav_colour_text:focus, .nav_colour_text:hover {
    text-decoration: none;
    font-family: var(--altFont);
    font-size: var(--altFontSize);
	color: var(--barColour);
}

.VS-cls {
	font-family:Cascadia Code;
	color:#4ec9b0;
}

.VS-num {
	font-family:Cascadia Code;
	color:#b5cea8;
	text-decoration:none;
}

.VS-pln {
	font-family:Cascadia Code;
	color:#dcdcdc;
}

.VS-mcr {
	font-family:Cascadia Code;
	color:#bd63c5;
}

.VS-cmt {
	font-family:Cascadia Code;
	color:#57a64a;
}

.VS-str {
	font-family:Cascadia Code;
	color:#D69D85;
}

.VS-var {
	font-family:Cascadia Code;
	color:#569CD6;
}

.VS-loc {
	font-family:Cascadia Code;
	color:#9CDAF9;
}

.VS-fnc {
	font-family:Cascadia Code;
	color:#DCDCAA;
}

.VS-prm {
	font-family:Cascadia Code;
	color:#7f7f7f;
}

.VS-kwd {
	font-family:Cascadia Code;
	color:#D8A0DF;
}

.big_detail {
	font-family: var(--altFont);
	font-size: 30px;
	text-align:left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.medium_detail {
	font-family: var(--altFont);
	font-size: 24px;
	text-align:left;
}

.small_detail {
	font-family: var(--altFont);
	font-size: 20px;
	text-align:left;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* .code {
    border-radius:15px;
    font-size:19px;
    background-color:#262626;
    overflow-x:auto;
    margin-top:10px;
} */

.thinking_image
{
    max-width:1100px;
    width:100vw;
    height: 400px;
}

#portfolio_tiles {
}

.portfolio_tile {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-flow: dense;
    
	height:225px;
	
	margin-bottom:0px;
	
	text-align:left;
}

.portfolio_tile.reversed_grid {
    grid-template-columns: 3fr 2fr;
}

input[type="checkbox"] {
    cursor: pointer;
}

label {
    display: inline;
    user-select: none;
}

label:hover {
    cursor: pointer;    
}

.portfolio_tile_image {
	object-fit: cover;
	width:100%;
	height:225px;
	border-radius:20px;
}

.portfolio_tile_text.reversed_grid_a {
    padding-left:15px;
}

.reversed_grid_a {
    grid-column: 2
}

.reversed_grid_b {
    grid-column: 1
}

.portfolio_tile_description {
    padding-top:10px;
    padding-right:5px;
}

a.portfolio_tile {
    text-decoration:none!important;
    display:inline-block;
    border-top-color:#2B2B2B;
    width:95%;
    height:100%;
}

.portfolio_button {
    width:100%;
}

a.portfolio_tile:hover {
    border-bottom-color:#242424;
    background-color:#1c1c1c;
}

.portfolio_tile_outer {
    margin-top:10px;
    margin-bottom:10px;
}

#main_post_container {
    max-width: 950px;
    display:grid;
    grid-template-columns: 1fr;
    
	text-align:left;
	margin:auto;
	margin-top:20px;
}

.map_outer {
	border-radius: 20px;
	overflow: hidden;
}

#show_more_button {
    margin-top:15px;
    
	padding:15px;
	
	border-radius:26px;
	border-style: solid;
	border-width:0px;
	border-color:var(--contentPanelBorderColour);
	border-bottom-width: 7px;
	
	background:var(--contentPanelLighterColour);
	
	transition-duration:0.2s;
	transition-property:border-top-width,border-bottom-width,background,color;
}

#show_more_button:hover {
	background:#383838;
	color:#dcdcdc;
	cursor:pointer;
}

button:focus {
	outline:none;
}

.portfolio_page_video {
    width:100%;
    height:500px;
    display:block;
}

 .google-maps {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.blurry_text {
    filter:blur(10px);
    transition-duration:0.2s;
    transition-property:filter;
}

.blurry_text:hover {
    filter:blur(0px);
}

@keyframes content_appear_animation_left {
  0% {
      transform:scale(0) rotate(350deg);
      opacity:0;
  }
  65% {
      transform:scale(1.05) rotate(361deg);
      opacity:0.9;
  }
  100% {
      transform:scale(1) rotate(360deg);
      opacity:1;
  }
}

@keyframes content_appear_animation_left_alt {
  0% {
      transform:translate(0, 100px);
      opacity:0;
  }
  100% {
      transform:translate(0);
      opacity:1;
  }
}

@keyframes content_appear_animation_right {
  0% {
      transform:scale(0) rotate(370deg);
      opacity:0;
  }
  65% {
      transform:scale(1.05) rotate(359deg);
      opacity:0.9;
  }
  100% {
      transform:scale(1) rotate(360deg);
      opacity:1;
  }
}

@keyframes content_appear_animation_right_alt {
  0% {
      transform:translate(0, 100px);
      opacity:0;
  }
  100% {
      transform:translate(0);
      opacity:1;
  }
}

.animateme_left {  
    visibility:visible;
    animation: 0.6s ease-in-out 0s 1 content_appear_animation_left_alt;
}

.animateme_right {  
    visibility:visible;
    animation: 0.6s ease-in-out 0s 1 content_appear_animation_right_alt;
}

.devlog_image_left {
    overflow:hidden;
    border-radius:10px;
    margin-right:15px;
    float:left;
    width:300px;
    height:300px;
}

.devlog_image_right {
    overflow:hidden;
    border-radius:10px;
    margin-left:15px;
    float:right;
    width:300px;
    height:300px;
}

.language_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
}

.experience_grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--contentMainColour);
}

.code::-webkit-scrollbar-track {
  background-color: #2b2b2b00;
}
 
/* Handle */
::-webkit-scrollbar-thumb
{
    background-color: var(--accentColorHover);
    border-radius: 2px;
    /* box-shadow: inset 0px 0px 0px 2px var(--accentColorHover); */
    /* transition: background-color 1.0s; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background-color: var(--accentColorActive); 
}

.filter_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}

.filter_list {
    padding: 10px;
    
    margin-right: 20px;
    
    border-radius: 20px;
    
    background-color:#262626;
    overflow:hidden;
    
    box-shadow: inset 0 0 20px #121212; 
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
